
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
 .container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
  
}
.container1{
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}
.container div {
  
    float: left;
    margin-top: 50px;
    margin-bottom: 1px;
    margin-left: 5px;
    height: 500px;
  }
.logo {
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 56px;
  }
.logo2{
  float: left;
    font-family: 'Inter', sans-serif;
    font-size: 12px
    
}

nav {
    float:right;
    
  }
  .log1{
    list-style: none; /*убираем маркеры списка*/
    margin: 1px; /*убираем верхнее и нижнее поле, равное 1em*/
    
    padding-left: 0; /*убираем левый отступ, равный 40px*/
  }
  .log_b1{
    float: left;
  }
  
  nav b1 {
    background: #00000000; /* Цвет фона */
    border: #c3bfbf solid 1px ; /* Рамка вокруг текста */
    color: #000000; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    margin-left: 10px;
    -moz-border-radius: 5px; /* Для Firefox 3 */
    -webkit-border-radius: 5px; /* Для Safari 4 и Chrome */
    border-radius: 50px; /* Для современных браузеров */
    
  }
  .log_b1{
    background: #00000000; /* Цвет фона */
    border: #000000 solid 3px ; /* Рамка вокруг текста */
    color: #000000; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 50px;
    margin-top: 10px;
  }
  
  li {
    display: inline-block; /*один из способов разместить элементы в строку*/
    
  }
.li_t
{
  display: inline-block;
  margin: 30 10px;
}
.cccc{
  float: left;
  margin-top: 20px;
  font-size: 13px;
  font-size: 17px;
}
.cccc1{
  position:relative;
  top: 25px;
  left: 1px;
  float: right;
    list-style: none; /*убираем маркеры списка*/
    margin-left: 310px; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0;
}
.cccc2{
  position: relative;
  top: 230px;
  left: 40px;
  Font-weight:500;
  font-size: 35px;

}
.cccc3{
  position:relative;
  top: 215px;
  left: 40px;
  font-size: 15px;
  text-overflow: ellipsis;
  width: 80%;
  height: 20%;

}
.img_1
{
  height: 40px;
  width: 40px;
}
  nav ul {
    font-family: 'Inter', sans-serif;
    list-style: none; /*убираем маркеры списка*/
    margin: 100px; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    margin-right: 8px;
    }

  .col-1-2 {
    
    width: 49%;
    font-size:10px;
    background: #00000000; /* Цвет фона */
    border: #2d2727 solid 1px ; /* Рамка вокруг текста */
    color: #000000; /* Цвет текста */
    padding: 1px; /* Поля вокруг текста */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    border-radius: 50px; 
  }
  footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    width: 100%; /* Ширина слоя */
  
}
  
  