/* .my_class{
    color:rgb(49, 31, 153);
    text-align: center;
    border: 5px solid rgb(49, 31, 153);
    padding: 20px;
}
.my_stack{
    color:rgb(49, 31, 153);
}
body{

    background-image: url('img/fon_piatna_linii_85563_1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;

} */
 .container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}
.container1{
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}
.container div {
  
    float: left;
    margin-top: 50px;
    margin-bottom: 1px;
    margin-left: 5px;
    height: 500px;
  }
.logo {
    float: left;
    font-family: 'CustomFont', Arial, sans-serif;
    font-size: 56px
  }
.logo2{
  float: left;
    font-family: 'CustomFont', Arial, sans-serif;
    font-size: 12px
}

nav {
    float:right;
    
  }
  .log1{
    list-style: none; /*убираем маркеры списка*/
    margin: 1px; /*убираем верхнее и нижнее поле, равное 1em*/
    
    padding-left: 0; /*убираем левый отступ, равный 40px*/
  }
  .log_b1{
    float: left;
  }
  
  nav b1 {
    background: #00000000; /* Цвет фона */
    border: #000000 solid 3px ; /* Рамка вокруг текста */
    color: #000000; /* Цвет текста */
    padding: 5px; /* Поля вокруг текста */
    -moz-border-radius: 5px; /* Для Firefox 3 */
    -webkit-border-radius: 5px; /* Для Safari 4 и Chrome */
    border-radius: 50px; /* Для современных браузеров */
    
  }
  .log_b1{
    background: #00000000; /* Цвет фона */
    border: #000000 solid 3px ; /* Рамка вокруг текста */
    color: #000000; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    -moz-border-radius: 5px; /* Для Firefox 3 */
    -webkit-border-radius: 5px; /* Для Safari 4 и Chrome */
    border-radius: 50px; /* Для современных браузеров */
    margin-top: 10px;
  }
  
  li {
    display: inline-block; /*один из способов разместить элементы в строку*/
    
  }
.li_t
{
  display: inline-block;
  margin: 30 10px;
}
.cccc{
  float: left;
  margin-top: 20px;
  font-size: 13px;
}
.cccc1{
  float: right;
    list-style: none; /*убираем маркеры списка*/
    margin-left: 340px; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0;
}
.cccc2{
  position: relative;
  top: 230px;
  left: 40px;
  Font-weight: bold;
  font-size: 25px;

}
.cccc3{
  position:relative;
  top: 240px;
  left: 40px;
  font-size: 15px;

}
.img_1
{
  height: 50px;
  width: 50px;
}
  nav ul {
    font-family: 'CustomFont', Arial, sans-serif;
    list-style: none; /*убираем маркеры списка*/
    margin: 100px; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    }
  /* body {
    font-family: 'CustomFont', Arial, sans-serif;
  } */
  .col-1-2 {
    
    width: 49%;
    font-size:10px;
    background: #00000000; /* Цвет фона */
    border: #2d2727 solid 1px ; /* Рамка вокруг текста */
    color: #000000; /* Цвет текста */
    padding: 1px; /* Поля вокруг текста */
    -moz-border-radius: 5px; /* Для Firefox 3 */
    -webkit-border-radius: 5px; /* Для Safari 4 и Chrome */
    border-radius: 50px; /* Для современных браузеров */
  }
  
  
  